<% provide(:title, '社員紹介 |') %>

<div id="sub_top" class="sample">
  <div class="top_base cl_03">
    <!--背景画像うすい時用　青系-->
  </div>
  <span>Employee Introduction</span>
</div>
<div class="pankuzu">
  <ul>
    <li><a href="index.html"><i class="fas fa-home"></i>HOME</a></li>
    <li>汎用ページ</li>
  </ul>
</div>
<div class="content">
  <h2 class="effect">社員紹介<br>
    <span>我々ACEラボの社員をご紹介させていただきます</span></h2>
  <div class="cont_wrap">
    <div class="effect d_02">
      <%= image_tag 'aoki.jpg',alt: "歯科技工士青木勇真の正面写真", class: "img_left", height: '10%', width: '50%' %>
      <section>
        <div class="desc">
          <h2>歯科技工士<br>
            青木 勇真</h2>
          <dl>
            <dt><b>出身</b></dt>
            <dd>神奈川県川崎市幸区</dd><br>
            <dt><b>職歴</b></dt>
            <dd>都内歯科技工所 8年</dd><br>
            <dt><b>学歴</b></dt>
            <dd>川崎市立南加瀬中学校</dd>
            <dd>川崎市立川崎高校</dd>
            <dd>新横浜歯科技工士専門学校</dd><br>
            <dt><b>趣味</b></dt>
            <dd>ゴルフ・釣り</dd>
            <dd>フットサル・キャンプ</dd><br>
            <dt><b>ご挨拶</b></dt>
            <dd>生まれ育った川崎の地で開業するのが夢でした。<br>
              より良い技工物作成の為に先生方と<br>
              コミュニケーションをとり院内技工士に近い存在を目指します。</dd>
          </dl>
        </div>
    </div>
    <div class="effect d_02">
      <hr>
      <%= image_tag 'jiyu.jpg',alt: "ACEラボの営業北島治勇の正面写真", class: "img_left", height: '10%', width: '50%' %>
      <section>
        <div class="desc">
          <h2>営業<br>
            北島 治勇</h2>
          <dl>
            <dt><b>出身</b></dt>
            <dd>神奈川県川崎市川崎区</dd><br>
            <dt><b>職歴</b></dt>
            <dd>ジャスダック市場上場証券会社営業 8年</dd><br>
            <dt><b>学歴</b></dt>
            <dd>・川崎市立川中島中学校</dd>
            <dd>・川崎市立川崎高校</dd>
            <dd>・目白大学 経営学部</dd><br>
            <dt><b>趣味</b></dt>
            <dd>バスケットボール</dd>
            <dd>山登り・キャンプ </dd><br>
            <dt><b>ご挨拶</b></dt>
            <dd>先生方に寄り添い、様々な角度からご提案させて頂きます。<br>
              先生、スタッフの皆様、患者様<br>
              全ての方に喜んで頂けるよう日々努力致します。</dd>
          </dl>
        </div>
    </div>
    <!--/cont_wrap-->
  </div>
  <%# <content> %>