<% provide(:title, 'よくある質問 |') %>

<div id="sub_top" class="faq">
  FAQ
</div>

<% breadcrumb :static_pages_faq %>
<%= breadcrumbs separator: " &rsaquo; " %>

<div class="content">
  <h2 class="effect">よくある質問<br>
    <span>よくある質問のサンプルになります</span></h2>
  <div class="cont_wrap">

    <div class="effect d_02">

      <dl class="faq">
        <dt><span>Ｑ１</span>よくある質問、サンプル質問になります。</dt>
        <dd>よくある質問、サンプル回答になります。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ２</span>よくある質問、サンプル質問になります。</dt>
        <dd>よくある質問、サンプル回答になります。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ３</span>よくある質問、サンプル質問になります。</dt>
        <dd>よくある質問、サンプル回答になります。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ４</span>よくある質問、サンプル質問になります。</dt>
        <dd>よくある質問、サンプル回答になります。
        </dd>
      </dl>

      <dl class="faq">
        <dt><span>Ｑ５</span>よくある質問、サンプル質問になります。</dt>
        <dd>よくある質問、サンプル回答になります。
        </dd>
      </dl>

    </div>
  </div>
  <!--/cont_wrap-->
</div>
<!--/content-->