<div id="sub_top" class="sample">
  <div class="top_base cl_03">
    <!--背景画像うすい時用　青系-->
  </div>
  <span>Business Details</span>
</div>

<div class="pankuzu">
  <ul>
    <li><a href="index.html"><i class="fas fa-home"></i>HOME</a></li>
    <li>事業内容</li>
  </ul>
</div>

<div class="content">


  <h2 class="effect">事業内容<br>
    <span>歯科技工所ACEラボは２つのサービスを提供します</span></h2>
  <!-- あとでここ装飾いれよう あとh2はやめよう-->

  <div class="cont_wrap">

    <div class="effect d_02">
      <h3>Ⅰ 歯科技工</h3>
      <!-- ここもh3はやめよう -->
      <%= image_tag 'bg_03.png', alt: "サンプル", class: "img_left" %>
      <p><b>セラミックに特化し、先生方、患者様に満足して頂ける技工物を提供します</b></p>
      <div class="correct-line">
        <i class="far fa-check-square"></i>高品質なセラミックを提供し、患者様に高い満足をしていただきます<br>
        <i class="far fa-check-square"></i>先生方・患者様の要望に応えます<br>
        <ul>
          <li>・セット時のチェアタイムの短縮</li>
          <li>・調整回数の減少</li>
        </ul>
        <i class="far fa-check-square"></i>技工物に関するご提案やコンサルティングを行います
        <ul>
          <li>・患者様に対するご提案方法に関してご相談をさせていただきます</li>
          <li>・歯科技工に関する最新情報をご提供させていただきます</li>
        </ul>
      </div>
    </div>

    <div class="effect d_02">
      <h3>Ⅱ 歯科医院の認知促進</h3>
      <%= image_tag 'bg_03.png', alt: "サンプル", class: "img_left" %>
      <p><b>一般の方へ歯科診療・検診を促進し、歯科医院の利用を増やします</b></p>
      <div class="correct-line">
        <i class="far fa-check-square"></i>歯に関する知識を発信していきます<br>
        <i class="far fa-check-square"></i>患者様に合った歯科医院を紹介します<br>
        <i class="far fa-check-square"></i>施設、地域と歯科医院をマッチングします
      </div>
    </div>
  </div>
  <!--/cont_wrap-->
</div>
<!--/content-->