<% provide(:title, 'お問い合わせ |') %>

<div id="sub_top" class="contact">
  <div class="top_base cl_02">
    <!--背景画像うすい時用　緑系-->
  </div>
  <span>Contact us</span>
</div>

<%# ぱんくす %>

<div class="content">
  <h2 class="effect">お問合わせ<br>
    <span>お問合せフォーム</span></h2>
  <div class="cont_wrap">

    <div class="effect d_02">
      <h3>お問合わせフォーム</h3>
      <p>下記フォームに必要事項をご入力いただき、送信してください。<br>
        <span class="chui">※このフォームは表示サンプルになります。実際に動作させるには、別途送信プログラム等が必要になります。<br>※設置代行（有料）も行っておりますので、お気軽にご相談ください。</span>
      </p>
      <form action="#" method="post" id="mail_form">
        <dl>
          <dt>歯科医院・会社・<span>Your company name</span></dt>
          <dd><%= @contact.clinic_name, id: "name_1", name: "name_1", value:"" %> </dd>

          <dt>お名前<span>Your Name</span></dt>
          <dd class="required"><%= @contact.name, id: "name_2", name:"name_2", value:"" %></dd>

          <dt>メールアドレス<span>Mail Address</span></dt>
          <dd class="required"><input type="text" id="mail_address" name="mail_address" value="" /></dd>

          <dt>メールアドレス(確認)<span>Mail Address Confirm</span></dt>
          <dd class="required"><input type="text" id="mail_address_confirm" name="mail_address_confirm" value="" /></dd>

          <dt>お問い合わせ種類<span>Inquiry Kind</span></dt>
          <dd class="required">
            <select id="kind" name="kind">
              <option value="">選択してください</option>
              <option value="ご依頼・ご相談">ご依頼・ご相談</option>
              <option value="廃墟について">廃墟について</option>
              <option value="ご意見・クレーム">ご意見・クレーム</option>
              <option value="その他お問い合わせ">その他お問い合わせ</option>
            </select>
          </dd>

          <dt>電話番号<span>Phone Number</span></dt>
          <dd><input type="text" id="phone" name="phone" value="" /></dd>

          <dt>お問い合わせ内容<span>Mail Contents</span></dt>
          <dd class="required"><textarea id="mail_contents" name="mail_contents" cols="40" rows="5"></textarea></dd>

          <dt>送信する<span>Send</span></dt>
          <dd class="required"><input type="submit" id="mail_submit_button" name="mail_submit_button" value="送信する" />
          </dd>
        </dl>
      </form>

    </div>


  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->