<%# <script src="js/jquery.sliderPro.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/script.js"></script> %>






<%# <main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <%= render partial: 'post', collection: @posts %>
<%# </div>
  </div>
</main> %>