<div id="sub_top" class="works">
  <div class="top_base cl_01">
    <!--背景画像うすい時用　赤系-->
  </div>
  <span>Column</span>
</div>

<div class="pankuzu">
  <ul>
    <li><a href="index.html"><i class="fas fa-home"></i>HOME</a></li>
    <li>施工実績</li>
  </ul>
</div>

<div class="content">
  <h2 class="effect">歯科技工コラム一覧<br>
    <span>コラム</span></h2>
  <div class="cont_wrap">

    <div class="effect d_02">

      <ul class="works_list">
        <% @posts.each do |post| %>
        <li><span class="works_icon">NEW!</span>
          <%= link_to image_tag(post.image, class: :mask), posts_path(post.id), method: :get %>
          <span><%= link_to post.title, posts_path(post.id), method: :get %></span>
          <% post.tags.each do |tag| %>
          <%= tag.tag_name %>
          <% end %>
        </li>
      </ul>
      <% end %>

    </div>

  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->






<%# <main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <%= render partial: 'post', collection: @posts %>
<%# </div>
  </div>
</main> %>